.color-dark{
    background-color: rgb(56, 56, 56);
    color: rgb(185, 185, 185);
}
.color-light{
    background-color: rgb(185, 185, 185);
    color: rgb(56, 56, 56);
}
.textcolor-dark{
    color: rgb(56, 56, 56);
}