.color-dark{
    background: rgb(80,27,36);
    background: linear-gradient(45deg, rgba(80,27,36,1) 0%, rgba(140,43,51,1) 50%, rgba(120,35,48,1) 100%); 
    color: rgb(255, 221, 221);
}
.color-light{
    background-color: rgb(255, 221, 221);
    color: rgb(41, 9, 14);
}
.textcolor-dark{
    color: rgb(41, 9, 14);
}

.titleColor{
    color :rgb(255, 221, 221);;
}